<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="EQuicamApp"
    android:versionCode="12"
    android:versionName="1.3.0"
    android:installLocation="auto" >

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_short_name"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat">

        <activity android:name="veg.mediaplayer.sdk.test.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="veg.mediaplayer.sdk.test.ClipsActivity"
            android:label="@string/ClipsTitleStr"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="veg.mediaplayer.sdk.test.FullScreenVideoActivity"
            android:label="@string/fullScreenVideoPlNameStr"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="veg.mediaplayer.sdk.test.CameraActivity"
            android:label="@string/camerasTitleStr"
            android:screenOrientation="portrait" >
        </activity>
    </application>

	<uses-sdk
	        android:minSdkVersion="11"
	        android:targetSdkVersion="16"/>
	
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>